<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Learn Node in 7 days</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/foundation.css' %}" >
</head>
<body>

<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1 id="name">Node.JS</h1>
		</li>
	</ul>

 <nav>
 <section class="top-bar-section">
	<ul class="right ">

<li><a href="/">Home</a></li>
<li><a href="/page">add</a></li>


			</ul>	
		</section>
	</nav> 
</nav> <!-- End Nav -->

<div class="row">
	<h1 id ="welcome">Welcome to Node.js page 2</h1	<p></p>

	<aside id="info" class="small-3 columns">
		<ul>
			<li>Search</li>
			<input type="text">
			<li>Step Up</li>
			<a href="">install</a>
			<a href="">Connect to sever</a>
			<a href="">Connect to Database</a>
			<li>Building your App	</li>
			<a href="">Routes</a>
			<a href="">Modules</a>
			<a href="">Depences</a>
		</ul>
		
	</aside>

	<div class="small-8 columns">
		<p>
		So what exactly is the need of using JavaScript in the server? To make the concept of Node.js clear I would like to compare it with the ordinary server-side languages such as PHP. Node.js uses an event-based server execution procedure rather than the multithreaded execution in PHP.

		To explain it further, we’ll be talking about the idea of what Node.js is along with some hosting provider suggestions and installation tips. Intermediate level knowledge of JavaScript, jQuery and Ajax are required, but we’ll also provide examples for you to understand the entire thing easier and even work on it, so let’s get to know more about Node.js!
			
		</p>
	</div>


</body>
</html>